nav {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
}

.button-menu {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0.5rem;
    margin-left: 1rem;
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
}

.button-menu div {
    height: 0.3rem;
    width: 1.7rem;
    background-color: #fff;
}


.menu-mobile {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8vh;
    left: 0;
    height: 92vh;
    width: 55vw;
    background-color: var(--primary-color);
    border: none;
    padding: 1rem;
    gap: 1rem;
    font-size: 1.3rem;
}

.menu-mobile li {
    list-style: none;
}

.exit-button {
    padding: 0.5rem 1rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: var(--primary-color);
}
