.home {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0.5rem;
    width: 40vw;
}

.card-info {
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8rem;
    gap: 1rem;
}

.card-info-title {
    font-weight: 700;
}

.info-title {
    font-weight: 700;
    font-size: 0.9rem;
}

.border {
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 1rem;
}

.border span {
    font-weight: 500;
}

.balance-div {
    display: flex;
    justify-content: flex-end;
}

.balance {
    font-size: 0.8rem;
    color: var(--primary-color);
    font-weight: 700;
}

.balance span {
    color: #000;
}



.new-button {
    box-sizing: border-box;
    position: absolute;
    background-color: var(--primary-color);
    color: #fff;
    bottom: 2rem;
    right: 2rem;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}


@media (max-width: 800px){
    .home {
        flex-direction: column;
    }    

    .card {
        width: 85vw;
    }
}
