.select {
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.select-form {
    height: 30vh;
    width: 15vw;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.select-form input {
    box-sizing: border-box;
    height: 1.7rem;
    padding: 0 0.2rem;
    border-radius: 5px;
    border: none;
}

.select-form h1 {
    color: #fff;
}

.select-form button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: var(--primary-color);
    cursor: pointer;
}



@media (max-width: 1200px){
    .select-form {
        width: 70vw;
    }
}